{% extends 'base.html' %}

{% block topnavigation %}
    <ul id="topnav">
        <li>
            <a href="{% url login %}">Ingresar al sistema</a>
        </li>
    </ul>
{% endblock %}

{% block main_content %}
    
	{% if flash.success %}				    
		<div class="success">{{ flash.success }}</div>
    {% endif %}
    
    {% if flash.error %}				    
		<div class="error">{{ flash.error }}</div>
    {% endif %}
    
    {% if flash.notice %}				    
		<div class="notice">{{ flash.notice }}</div>
    {% endif %}
    
    <h2>Ingreso al sistema</h2>

	<form id="login-form" method="post" action=".">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Ingresar" />
	</form>
{% endblock %}
