<ul id="topnav">
    <li>
        <a href="{% url interface.views.index %}">Página principal</a>
    </li>
    <li>
        <a href="#">Dar de alta</a>
        <span>
            <a href="{% url interface.views.adquisicion_compra_material_mayor %}">Alta de vehículo (compra)</a> |
            <a href="{% url interface.views.adquisicion_donacion_material_mayor %}">Alta de vehículo (donación o comodato)</a> |
            <a href="{% url interface.views.material_mayor_sin_validar %}">Material mayor sin validar</a>
        </span>
    </li>
    <li>
        <a href="{% url interface.views.material_mayor %}">Explorar material mayor del cuerpo</a>
    </li>
    <li>
        <a href="#">Mantención</a>
        <span>
            <a href="{% url interface.views.mantenciones_programadas_pendientes %}">Ver mantenciones pendientes</a>
        </span>
    </li>
</ul>
