<ul id="topnav">
    <li>
        <a href="{% url interface.views.index %}">Página principal</a>
    </li>
    <li>
        <a href="#">Dar de alta</a>
        <span>
            <a href="{% url interface.views.adquisicion_compra_material_mayor %}">Alta de vehículo (compra)</a> |
            <a href="{% url interface.views.adquisicion_donacion_material_mayor %}">Alta de vehículo (donación o comodato)</a> |
            <a href="{% url interface.views.material_mayor_sin_validar %}">Material mayor sin validar</a>
        </span>
    </li>
    <li>
        <a href="#">Asignar</a>
        <span>
            <a href="{% url interface.views.material_mayor %}">Navegar material para reasignar</a>
        </span>
    </li>
    <li>
        <a href="#">Mantención</a>
        <span>
            <a href="{% url interface.views.pauta_mantencion_carrosado %}">Pautas de mantención de carrosado</a> |
            <a href="{% url interface.views.pauta_mantencion_chasis %}">Pautas de mantención de chasis</a>
        </span>
    </li>
    <li>
        <a href="#">Reparación</a>
        <span>
            <a href="#">Proceso de reparación</a>
        </span>
    </li>
    <li>
        <a href="#">Otros eventos</a>
        <span>
            <a href="#">Registrar otro evento</a>
        </span>
    </li>
    <li>
        <a href="#">Dar de baja</a>
        <span>
            <a href="#">Enajenación</a> |
            <a href="#">Reliquia</a>
        </span>
    </li>
</ul>
