{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_editar_material_mayor_script.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_destinatario_cuerpo.js"></script>

<script type="text/javascript">
    var modelos_chasis = [
    {% for modelo_chasis in form.fields.modelo_chasis.queryset %}
        new Array({{ modelo_chasis.id }}, "{{ modelo_chasis }}", {{ modelo_chasis.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_caja_cambio = [
    {% for modelo_caja_cambio in form.fields.modelo_caja_cambio.queryset %}
        new Array({{ modelo_caja_cambio.id }}, "{{ modelo_caja_cambio }}", {{ modelo_caja_cambio.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_bomba = [
    {% for modelo_bomba in form.fields.modelo_bomba.queryset %}
        new Array({{ modelo_bomba.id }}, "{{ modelo_bomba }}", {{ modelo_bomba.marca.id }}),
    {% endfor %}
    ]
    
    var cuerpos = [
    {% for cuerpo in form_adquisicion.fields.cuerpo_destinatario.queryset %}
        new Array({{ cuerpo.id }}, "{{ cuerpo }}", {{ cuerpo.comuna.provincia.region.id }}),
    {% endfor %}
    ]
    
</script>
{% endblock %}

{% block main_content %}
    <p class="breadcrumbs">
        <strong>Dar de alta</strong>
        &raquo; Alta de vehículo (compra)
    </p>

    <h2>Alta de material mayor   (Compra)</h2>
    <hr />
    
    <p class="mandatory-field-notice">Los campos marcados con * son obligatorios</p>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <table id="form-table">

            <tr><td colspan="3"><br /><h3>Datos del vehículo</h3><br /></tr></td>
            
            {{ form.render_datos_vehiculo }}
            
            <tr><td colspan="3"><br /><h3>Información Adicional</h3><br /></tr></td>
            
            {{ form.render_informacion_adicional }}

            <tr><td colspan="3"><br /><h3>Fotografías</h3><br /></tr></td>
            {% for pair in form.picture_fields %}
                <tr>
                    <td>
                        {% if pair.0.errors %}
                            <ul class="errorlist">
                                {% for error in pair.0.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ pair.0.label }}
                    </td>

                    <td>
                        {{ pair.0 }}
                    </td>
            {% endfor %}

            <tr><td colspan="3"><br /><h3>Documentos</h3><br /></tr></td>
            
            {{ form_adquisicion.render_detalles }}
                
        </table>

        <input type="submit" value="Dar de alta" />

    </form>
{% endblock %}
