{% extends 'staff/adquisicion_material_mayor.html' %}

{% block main_content %}
    <p class="breadcrumbs">
        <strong>Dar de alta</strong>
        &raquo; Alta de vehículo (compra)
    </p>

    <h2>Alta de material mayor   (Compra)</h2>
    <hr />
    
    <p class="mandatory-field-notice">Los campos marcados con * son obligatorios</p>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <table id="form-table">

            <tr><td colspan="3"><br /><h3>Datos del vehículo</h3><br /></td></tr>
            
            {{ form.render_datos_vehiculo }}
            
            <tr><td colspan="3"><br /><h3>Información Adicional</h3><br /></td></tr>
            
            {{ form.render_informacion_adicional }}

            <tr><td colspan="3"><br /><h3>Fotografías</h3><br /></td></tr>
            {% for pair in form.picture_fields %}
                <tr>
                    <td>
                        {% if pair.0.errors %}
                            <ul class="errorlist">
                                {% for error in pair.0.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <label>{{ pair.0.label }}</label>
                    </td>

                    <td>
                        {{ pair.0 }}
                    </td>
            {% endfor %}

            <tr><td colspan="3"><br /><h3>Documentos</h3><br /></td></tr>
            
            {{ form_adquisicion.render_detalles }}

            {% if not user.is_staff %}
                <input type="hidden" name="cuerpo_destinatario" value="{{ user.get_profile.cuerpo.id }}" />
            {% endif %}
                
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn primary" value="Dar de alta" />
                </td>
            </tr>
        </table>


    </form>
{% endblock %}
