{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_asignar_cuerpo_script.js"></script>

<script type="text/javascript">
    var default_region_id = {{ default_cuerpo.comuna.provincia.region.id }}
    var default_cuerpo_id = {{ default_cuerpo.id }}
    var default_compania_id = {{ default_compania_id }}

    var cuerpos = [
    {% for cuerpo in form.fields.cuerpo.queryset %}
        new Array({{ cuerpo.id }}, "{{ cuerpo }}", {{ cuerpo.comuna.provincia.region.id }}),
    {% endfor %}
    ]
    
    var companias = [
    {% for compania in form.fields.compania.queryset %}
        new Array({{ compania.id }}, "{{ compania }}", {{ compania.cuerpo.id }}),
    {% endfor %}
    ]
</script>

{% endblock %}

{% block main_content %}

	<div id="main-content" class="left">
	    {% if flash.success %}				    
			<div class="success">{{ flash.success }}</div>
	    {% endif %}
	    
	    <p class="breadcrumbs">
	        <strong>Material mayor</strong>
            &raquo; <a href="{% url interface.views.editar_material_mayor material_mayor.id %}">{{ material_mayor.breadcrumbs_string }}</a>
            &raquo; Asignar a cuerpo
        </p>

		<h2>Asignación a cuerpo de {{ material_mayor.breadcrumbs_string }}</h2>
            
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <table id="form-table">
                {{ form.as_table }}
            </table>

            <input type="submit" value="Asignar" />

        </form>
		
	</div>
{% endblock %}
