{% extends 'staff/base.html' %}

{% block main_content %}
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
        &raquo; <a href="{% url interface.views.editar_material_mayor material_mayor.id %}">{{ material_mayor.breadcrumbs_string }}</a>
        &raquo; Asignar patente
    </p>

	<h2>Asignar patente a material mayor</h2>
	<br />
        
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <table id="form-table">
            
            {{ form.as_table }}
                
        </table>

        <input type="submit" value="Asignar patente" />

    </form>
{% endblock %}
