{% extends 'base.html' %}

{% block layout %}

<div id="header">
	<div id="top">

		<div class="left" id="logo">
			<img src="{{ STATIC_URL }}img/logo_bomberos.jpg" alt="" />
		</div>

		<div class="left navigation" id="main-nav">
		    <p id="user-information">{{ user.get_full_name }} (<a href="{% url interface.views.logout %}">Cerrar sesión</a>)</p>

			<ul class="tabbed">
				<li class="current-tab"><a href="{% url interface.views.index %}">Inicio</a></li>
				<li><a href="{% url interface.views_staff.material_mayor %}">Material Mayor</a></li>
			</ul>

			<div class="clearer">&nbsp;</div>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>
	
	{% block subnav %}
	{% endblock %}

</div>


{% block content %}
{% endblock %}

{% endblock %}
