{% extends 'base.html' %}

{% block layout %}

<div id="header">
	<div id="top">

		<div class="left" id="logo">
			<img src="{{ STATIC_URL }}img/logo_bomberos.jpg" alt="" />
		</div>

		<div class="left navigation" id="main-nav">

			<ul class="tabbed">
				<li class="current-tab"><a href="{% url interface.views.index %}">Inicio</a></li>
				<li><a href="{% url interface.views_staff.adquisicion_compra_material_mayor %}">Dar de alta material mayor (compra)</a></li>
				<li><a href="{% url interface.views_staff.adquisicion_donacion_material_mayor %}">Dar de alta material mayor (donación)</a></li>
			</ul>

			<div class="clearer">&nbsp;</div>

		</div>

		<div class="clearer">&nbsp;</div>

	</div>

</div>

<div class="main">
	{% block content %}
	{% endblock %}
</div>

{% endblock %}
