{% extends 'staff/base.html' %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
        &raquo; {{ material_mayor.breadcrumbs_string }}
        &raquo; Cambiar pauta de mantención de carrosado
    </p>

	<h2>Cambiar pauta de mantención de carrosado</h2>
	
	<hr />
	
	<p>
    	Por favor seleccione la nueva pauta de mantención de carrosado para este vehículo.
	</p>
	
	<form method="post" action=".">
	    {% csrf_token %}
	    <table id="form-table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Guardar" class="btn primary" /></td>
            </tr>
        </table>
    </form>

{% endblock %}
