{% extends 'staff/base.html' %}

{% block main_content %}
    {% if flash.success %}				    
		<div class="success">{{ flash.success }}</div>
    {% endif %}
    
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
        &raquo; <a href="{% url interface.views.editar_material_mayor material_mayor.id %}">{{ material_mayor.breadcrumbs_string }}</a>
        &raquo; <a href="{% url interface.views.detalles_hoja_de_vida_material_mayor material_mayor.id %}">Hoja de vida</a>
        &raquo; {{ form.instance.breadcrumb_details }}
    </p>
    
    <h2>{{ form.instance.title_details }}</h2>
    <hr />
    <strong>Fecha y hora:</strong> {{ form.instance.fecha }} <br/>
    <strong>Usuario:</strong> {{ form.instance.usuario.get_full_name }} <br/>
    <strong>Cuerpo del usuario:</strong> {{ form.instance.cuerpo_usuario|default_if_none:"JNCB" }} <br/>
    {% if form.instance.rol_usuario %}
        <strong>Rol:</strong> {{ form.instance.rol_usuario }} <br/>
    {%  else %}
        <strong>Cargos:</strong> {% for cargo in form.instance.cargos_usuario.all %}{{ cargo }} {% endfor %} <br/>
    {% endif %}
    <br />
    
    <h3>Detalles</h3>
    {% block event_details %}
    {% endblock %}
{% endblock %}
