{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_editar_material_mayor_script.js"></script>

<script type="text/javascript">
    var otros_usos_material_mayor_ids = [
        {% for id in others_uses_ids %}
            {{ id }},
        {% endfor %}
    ]
    
    var modelos_caja_cambio = [
    {% for modelo_caja_cambio in form.fields.modelo_caja_cambio.queryset %}
        new Array({{ modelo_caja_cambio.id }}, "{{ modelo_caja_cambio }}", {{ modelo_caja_cambio.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_bomba = [
    {% for modelo_bomba in form.fields.modelo_bomba.queryset %}
        new Array({{ modelo_bomba.id }}, "{{ modelo_bomba }}", {{ modelo_bomba.marca.id }}),
    {% endfor %}
    ]
    
    var cuerpos = [
    {% for cuerpo in form_adquisicion.fields.cuerpo_destinatario.queryset %}
        new Array({{ cuerpo.id }}, "{{ cuerpo }}", {{ cuerpo.comuna.provincia.region.id }}),
    {% endfor %}
    ]
    
</script>
{% endblock %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
        &raquo; {{ form.instance.breadcrumbs_string }}
    </p>

	<h2>Editar material mayor</h2>
	
	{% if not form.instance.validado_por_operaciones %}
	    <br />
        <p class="error_message">Este material aún no ha sido validado por la JNBC por lo que no podrá acceder a la mayoría de sus opciones.</p>
        {% if user.get_profile.puede_validar_material_mayor %}
            <a href="{% url interface.views.validar_material_mayor form.instance.id %}" class="btn primary">
                Validar este material mayor
            </a>
        {% endif %}
    {% endif %}
        
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <table id="form-table">
        
            <tr><td colspan="2"><br /><h3>Información general</h3><br /></td></tr>
            <tr>
                <th>Fecha de ingreso al sistema</th>
                <td>{{ form.instance.adquisicion.fecha }}</td>
            </tr>
            <tr>
                <th>Cuerpo destinatario original</th>
                <td>{{ form.instance.adquisicion.cuerpo_destinatario }} ({{ form.instance.adquisicion.cuerpo_destinatario.comuna.provincia.region }})</td>
            </tr>
            <tr>
                <th>Asignación actual</th>
                <td>{{ form.instance.get_location }} 
                
                {% if asignacion_link %}
                    (<a href="{{ asignacion_link }}">Asignar</a>)   
                {% endif %}
                
                </td>
            </tr>
            <tr>
                <th>Patente</th>
                <td>
                    {% if form.instance.asignacion_de_patente %}
                        {{ form.instance.asignacion_de_patente }}
                        (<a href="{% url interface.views.detalles_patente_material_mayor form.instance.id %}">Ver detalles</a>)
                    {% else %}
                        <i>Sin patente</i>
                        {% if user.get_profile.puede_asignar_patente %}
                            (<a href="{% url interface.views.asignar_patente_a_material_mayor form.instance.id %}">Asignar patente</a>)
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Pauta de mantenimiento de carrosado</th>
                <td>
                    {% if form.instance.pauta_mantencion_carrosado %}
                        <a href="{% url interface.views.pauta_mantencion_carrosado_editar form.instance.pauta_mantencion_carrosado.id %}">{{ form.instance.pauta_mantencion_carrosado }}</a>
                        {% if user.get_profile.puede_asignar_pauta_de_mantenimiento_de_carrosado %}
                            (<a href="{% url interface.views.cambiar_pauta_mantencion_carrosado form.instance.id %}">Cambiar pauta</a>)
                        {% endif %}
                    {% else %}
                        <i>Sin pauta</i>
                        {% if user.get_profile.puede_asignar_pauta_de_mantenimiento_de_carrosado %}
                            (<a href="{% url interface.views.cambiar_pauta_mantencion_carrosado form.instance.id %}">Asignar pauta</a>)
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr><th>Ingresado por</th><td>{{ form.instance.adquisicion.usuario.get_full_name }}</td></tr>
            <tr><th>Forma de adquisición</th><td>{{ form.instance.adquisicion.modo }} (<a href="{% url interface.views.editar_adquisicion_material_mayor form.instance.id %}">Editar detalles</a>)</td></tr>
            <tr><th>Hoja de vida</th><td><a href="{% url interface.views.detalles_hoja_de_vida_material_mayor form.instance.id %}">Ver hoja de vida</a></td></tr>
            {% if user.get_profile.puede_eliminar_material_mayor %}
                <tr><td colspan="2"><br /><a href="{% url interface.views.eliminar_material_mayor form.instance.id %}">Eliminar material mayor</a></td></tr>
            {% endif %}

            <tr><td colspan="2"><br /><h3>Datos del vehículo</h3><br /></tr></td>
            
            <tr>
                <td><label>Marca chasis</label></td>
                <td>{{ form.instance.modelo_chasis.marca }}</td>
            </tr>
            <tr>
                <td><label>Modelo chasis</label></td>
                <td>{{ form.instance.modelo_chasis }}</td>
            </tr>
            <tr>
                <td><label>Marca carrosado</label></td>
                <td>{{ form.instance.marca_carrosado }}</td>
            </tr>
            <tr>
                <td><label>N° chasis</label></td>
                <td>{{ form.instance.numero_chasis }} {% if user.get_profile.puede_cambiar_numero_chasis_material_mayor %}(<a href="{% url interface.views.cambiar_numero_chasis_material_mayor form.instance.id %}">Cambiar</a>){% endif %}</td>
            </tr>
            <tr>
                <td><label>N° motor</label></td>
                <td>{{ form.instance.numero_motor }} {% if user.get_profile.puede_cambiar_numero_motor_material_mayor %}(<a href="{% url interface.views.cambiar_numero_motor_material_mayor form.instance.id %}">Cambiar</a>){% endif %}</td>
            </tr>
            
            {{ form.render_datos_vehiculo }}
            
            <tr><td colspan="2"><br /><h3>Información Adicional</h3><br /></tr></td>
            
            {{ form.render_informacion_adicional }}

            <tr><td colspan="2"><br /><h3>Fotografías</h3><br /></tr></td>
            {% for pair in form.picture_fields %}
                <tr>
                    <td>
                        {% if pair.0.errors %}
                            <ul class="errorlist">
                                {% for error in pair.0.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <label>{{ pair.0.label }}</label>
                    </td>

                    <td>
                        {{ pair.0 }}
                    </td>   
                </tr>
            {% endfor %}
        
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn primary" value="Guardar cambios" />
                </td>
            </tr>
        </table>

    </form>

{% endblock %}
