{% extends 'staff/base.html' %}

{% block staff_content %}
    
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
        &raquo; <a href="{% url interface.views.editar_material_mayor material_mayor.id %}">{{ material_mayor }}</a>
        &raquo; <a href="{% url interface.views.mantenciones_programadas material_mayor.id %}">Mantenciones programadas</a>
        &raquo; <a href="{% url interface.views.detalle_mantencion_programada material_mayor.id mantencion_programada.id %}">{{ mantencion_programada.gestor_string }}</a>
        &raquo; Eliminar archivo
    </p>

	<h2>Eliminar archivo de mantención "{{ archivo }}"</h2>
    <hr />
    <p>Por favor confirme que desea eliminar este archivo, este proceso es irreversible</p>
    <br />
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" class="btn danger" value="Eliminar" />
    </form>
{% endblock %}