{% extends 'staff/material_mayor_details_base.html' %}

{% block material_mayor_content %}

	<div id="main-content" class="left">
	    {% if flash.success %}				    
			<div class="success">{{ flash.success }}</div>
	    {% endif %}
	    
	    <p class="breadcrumbs">
	        <a href="{% url interface.views_staff.material_mayor %}">Material mayor</a>
            &raquo; <a href="{% url interface.views_staff.material_mayor_details material_mayor.id %}">{{ material_mayor }}</a>
            &raquo; <a href="{% url interface.views_staff.hoja_vida_material_mayor material_mayor.id %}">Hoja de vida</a>
        </p>

		<h2>Hoja de vida</h2>
		<br />
            
        <ul>
            {% for event in events %}
                <li>{{ event.fecha.date }}: {{ event.quick_details }} (<a href="{% url interface.views_staff.detalle_evento_hoja_vida_material_mayor event.material_mayor.id event.id %}">Ver detalles</a>)</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
