{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_dar_de_alta_material_mayor_script.js"></script>
{% endblock %}

{% block subnav %}
<div id="sub-nav" class="navigation">

	<ul class="tabbed">
	    <li><a href="{% url interface.views_staff.material_mayor %}">Explorar</a></li>
		<li><a href="{% url interface.views_staff.adquisicion_compra_material_mayor %}">Agregar Material Mayor (compra)</a></li>
		<li><a href="{% url interface.views_staff.adquisicion_donacion_material_mayor %}">Agregar Material Mayor (donación)</a></li>
	</ul>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}

{% block content %}
<div id="main-two-columns" class="main">

	{% block material_mayor_content %}
	{% endblock %}
	
	<div id="sidebar" class="right sidebar">

        <h4>Opciones</h4>
        <br />
        
        <ul>
            <li><a href="{% url interface.views_staff.material_mayor_details material_mayor.id %}">Ver detalles del material mayor</a></li>
            <li><a href="{% url interface.views_staff.material_mayor_adquisicion_details material_mayor.id %}">Ver detalles de la adquisición</a></li>
            <li><a href="{% url interface.views_staff.hoja_vida_material_mayor material_mayor.id %}">Ver hoja de vida</a></li>
            <li><a href="{% url interface.views_staff.reasignar_material_mayor_a_cuerpo material_mayor.id %}">(Re) asignar a cuerpo</a></li>
            <li><a href="#">Asignar a compañía</a></li>
            <li><a href="#">Dar de baja</a></li>
        </ul>
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}
