{% extends 'staff/material_mayor_details_base.html' %}

{% block material_mayor_content %}

	<div id="main-content" class="left">
	    {% if flash.success %}				    
			<div class="success">{{ flash.success }}</div>
	    {% endif %}
	    
	    <p class="breadcrumbs">
	        <a href="{% url interface.views_staff.material_mayor %}">Material mayor</a>
            &raquo; <a href="{% url interface.views_staff.material_mayor_details form.instance.id %}">{{ form.instance }}</a>
        </p>
        
        

		<h2>Detalles del material mayor</h2>
		<br />
            
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <table id="form-table">
            
                <tr><td colspan="2"><br /><h3>Información general</h3><br /></tr></td>
                <tr><th>Fecha de ingreso al sistema</th><td>{{ form.instance.adquisicion.fecha }}</td></tr>
                <tr><th>Asignación actual</th><td>{{ form.instance.get_location }}</td></tr>
                <tr><th>Ingresado por</th><td>{{ form.instance.adquisicion.usuario.get_full_name }}</td></tr>
                <tr><th>Forma de adquisición</th><td>{{ form.instance.adquisicion.modo }} (<a href="{% url interface.views_staff.material_mayor_adquisicion_details form.instance.id %}">Ver detalles</a>)</td></tr>

                <tr><td colspan="2"><br /><h3>Datos del vehículo</h3><br /></tr></td>
                
                {{ form.render_datos_vehiculo }}
                
                <tr><td colspan="2"><br /><h3>Información Adicional</h3><br /></tr></td>
                
                {{ form.render_informacion_adicional }}

                <tr><td colspan="2"><br /><h3>Fotografías</h3><br /></tr></td>
                {% for pair in form.picture_fields %}
                    <tr>
                        <th>
                            {% if pair.0.errors %}
                                <ul class="errorlist">
                                    {% for error in pair.0.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ pair.0.label }}
                        </th>

                        <td>
                            {{ pair.0 }}
                        </td>
                {% endfor %}
                    
            </table>

            <input type="submit" value="Guardar cambios" />

        </form>
		
	</div>

{% endblock %}
