{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_dar_de_alta_material_mayor_script.js"></script>


<script type="text/javascript">
    var modelos_chasis = [
    {% for modelo_chasis in form.fields.modelo_chasis.queryset %}
        new Array({{ modelo_chasis.id }}, "{{ modelo_chasis }}", {{ modelo_chasis.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_carrosado = [
    {% for modelo_carrosado in form.fields.modelo_carrosado.queryset %}
        new Array({{ modelo_carrosado.id }}, "{{ modelo_carrosado }}", {{ modelo_carrosado.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_caja_cambio = [
    {% for modelo_caja_cambio in form.fields.modelo_caja_cambio.queryset %}
        new Array({{ modelo_caja_cambio.id }}, "{{ modelo_caja_cambio }}", {{ modelo_caja_cambio.marca.id }}),
    {% endfor %}
    ]
    
    var modelos_bomba = [
    {% for modelo_bomba in form.fields.modelo_bomba.queryset %}
        new Array({{ modelo_bomba.id }}, "{{ modelo_bomba }}", {{ modelo_bomba.marca.id }}),
    {% endfor %}
    ]
    
    var default_modelo_chasis = {{ form.instance.modelo_chasis.id }}
    var default_modelo_carrosado = {{ form.instance.modelo_carrosado.id }}
    var default_modelo_caja_cambio = {{ form.instance.modelo_caja_cambio.id }}
    var default_modelo_bomba = {{ form.instance.modelo_bomba.id }}
</script>

{% endblock %}

{% block subnav %}
<div id="sub-nav" class="navigation">

	<ul class="tabbed">
	    <li><a href="{% url interface.views_staff.material_mayor %}">Explorar</a></li>
		<li><a href="{% url interface.views_staff.adquisicion_compra_material_mayor %}">Agregar Material Mayor (compra)</a></li>
		<li><a href="{% url interface.views_staff.adquisicion_donacion_material_mayor %}">Agregar Material Mayor (donación)</a></li>
	</ul>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}

{% block content %}
<div class="main">

	<div id="main-content" class="left">

		<h2>Detalles de adquisición del material mayor</h2>
		<br />
            
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <table id="form-table">
                
                {{ form.render_detalles }}
                    
            </table>

            <input type="submit" value="Guardar cambios" />

        </form>
		
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}
