{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_buscar_material_mayor_script.js"></script>


<script type="text/javascript">
    var cuerpos = [
    {% for cuerpo in form.fields.cuerpo.queryset %}
        new Array({{ cuerpo.id }}, "{{ cuerpo }}", {{ cuerpo.comuna.provincia.region.id }}),
    {% endfor %}
    ]
</script>

{% endblock %}

{% block main_content %}
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
    </p>
    
    <h2>{{ title }}</h2>
    
    {% if flash.success %}				    
		<div class="success">{{ flash.success }}</div>
    {% endif %}
    
    <table>
        <tr>
            <td colspan="5">
                <h3>{{ search_result.title }}</h3>
            </td>
        </tr>
        
        <tr>
            <th>Marca chasis</th>
            <th>Modelo chasis</th>
            <th>Marca carrosado</th>
            <th>N° chasis</th>
            <th>N° motor</th>
            <th>Cuerpo</th>
            <th>Compañía</th>
            <th></th>
        </tr>
        
        {% for material_mayor in material_mayor %}
            <tr>
                <td>{{ material_mayor.modelo_chasis.marca }}</td>
                <td>{{ material_mayor.modelo_chasis }}</td>
                <td>{{ material_mayor.marca_carrosado }}</td>
                <td>{{ material_mayor.numero_chasis }}</td>
                <td>{{ material_mayor.numero_motor }}</td>
                <td>{{ material_mayor.cuerpo|default_if_none:"No asignado" }}</td>
                <td>{{ material_mayor.compania|default_if_none:"No asignado" }}</td>
                <td><a href="{% url interface.views.editar_material_mayor material_mayor.id %}">Editar</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Ningún material mayor coincide con los criterios de búsqueda</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
