{% extends 'staff/base.html' %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Dar de alta</strong>
        &raquo; Material mayor sin validar
    </p>

    <h2>Material mayor sin validar</h2>
    
    <hr />
    <p><a href="{% url interface.views.material_mayor_sin_validar_excel %}">Descargar este informe como Excel</a></p>
    <br />

    <table class="tablesorter">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
            {% for vehiculo in material_mayor %}
                <tr>
                    {% for field in vehiculo.data %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td><a href="{% url interface.views.editar_material_mayor vehiculo.id %}?next={% url interface.views.material_mayor_sin_validar %}">
                        {% if user.get_profile.puede_validar_material_mayor %}
                            Revisar y validar
                        {% else %}
                            Editar
                        {% endif %}
                    </a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        <i>No hay material mayor sin validar</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
