{% extends 'staff/base.html' %}

{% block main_content %}
    <p class="breadcrumbs">
        <strong>Asignaciones de material</strong>
        &raquo; {{ title }}
    </p>
    
    {% if flash.success %}				    
		<div class="success">{{ flash.success }}</div>
    {% endif %}

    <h2>{{ title }}</h2>
    <hr />

    <table>    
        {% for value in material_mayor %}
            
            <tr>
                <td colspan="6">
                    <h3 class="table-material-mayor-sin-asignar-title">{{ value.title }}</h3>
                </td>
            </tr>

            <tr>
                {% for field in fields %}
                    <th>{{ field.1 }}</th>
                {% endfor %}
            </tr>
            {% for vehiculo in value.material_mayor %}
                <tr>
                    {% for field in vehiculo.data %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td><a href="{% url interface.views.editar_material_mayor vehiculo.id %}?next={% url interface.views.material_mayor_sin_asignar %}">Editar</a></td>
                    {% if may_assign_material_mayor %}
                        <td><a href="{% url interface.views.asignar_material_mayor_a_cuerpo vehiculo.id %}">Asignar</a></td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        <i>No hay material mayor sin asignar</i>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
