{% extends 'staff/base.html' %}

{% block header_block %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formulario_buscar_material_mayor_script.js"></script>


<script type="text/javascript">
    var cuerpos = [
    {% for cuerpo in form.fields.cuerpo.queryset %}
        new Array({{ cuerpo.id }}, "{{ cuerpo }}", {{ cuerpo.comuna.provincia.region.id }}),
    {% endfor %}
    ]
    
    var default_cuerpo = {{ form.cuerpo.data|default_if_none:0 }}
</script>

{% endblock %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Material mayor</strong>
    </p>
    
    <h2>{{ title }}</h2>
    
    <hr />

	<div class="span-21">
            
        <form method="get" action=".">        
            <strong>Región</strong> {{ form.region }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Cuerpo</strong> {{ form.cuerpo }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <input type="submit" class="btn" value="Buscar" />
            <br /> <br />
            {{ form.incluir_dados_de_baja }} <label for="id_incluir_dados_de_baja"> <strong>¿Incluir material dado de baja?</strong></label>
        </form>

	</div>
	
	<hr />
	
	
	<br />
    
    <div class="span-21">
        <strong>Búsqueda rápida</strong>
        <input type="text" id="filter-box" />
        <input type="button" id="filter-clear-button" value="Limpiar" class="btn" />
        
        <p style="text-align: right;">
            <a href="{% url interface.views.material_mayor_excel %}?{{ form.get_path }}">Descargar esta búsqueda como Excel </a>
            <br />
            <a href="{% url interface.views.all_material_mayor %}">Listado de todo el material mayor</a>
        </p>
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>Correlativo</th>
                    <th>Marca chasis</th>
                    <th>Modelo chasis</th>
                    <th>Marca carrosado</th>
                    <th>N° chasis</th>
                    <th>N° motor</th>
                    <th>Patente</th>
                    <th>Cuerpo</th>
                    <th>Compañía</th>
                    <th>Denominación</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for material_mayor in material_mayor %}
                    <tr>
                        <td>{{ material_mayor.id }}</td>
                        <td>{{ material_mayor.modelo_chasis.marca }}</td>
                        <td>{{ material_mayor.modelo_chasis }}</td>
                        <td>{{ material_mayor.marca_carrosado }}</td>
                        <td>{{ material_mayor.numero_chasis }}</td>
                        <td>{{ material_mayor.numero_motor }}</td>
                        <td>{{ material_mayor.asignacion_de_patente|default_if_none:"No posee" }}</td>
                        <td>
                            {% if material_mayor.cuerpo %}
                                {{ material_mayor.cuerpo}}
                            {% else %}
                                No asignado ({{material_mayor.adquisicion.cuerpo_destinatario }})
                            {% endif %}
                        </td>
                        <td>{% if material_mayor.cuerpo %}
                                {% if material_mayor.compania %}
                                    {{ material_mayor.compania }}
                                {% else %}
                                    Nivel Central
                                {% endif %}
                            {% else %}
                                No asignado ({{material_mayor.adquisicion.cuerpo_destinatario }})
                            {% endif %}</td>
                        <td>{% if material_mayor.denominacion %}
                                {{ material_mayor.denominacion}}
                            {% else %}
                                Sin denominación
                            {% endif %}</td>
                        <td><a href="{% url interface.views.editar_material_mayor material_mayor.id %}">Editar</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="11">Ningún material mayor coincide con los criterios de búsqueda</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="pager" class="pager">
            <form>
                <img src="{{ STATIC_URL }}/css/pager/prev.png" class="prev"/>
                <input type="text" class="pagedisplay"/>
                <img src="{{ STATIC_URL }}/css/pager/next.png" class="next"/>
                <input type="hidden" class="pagesize" value="10" />
            </form>
        </div>
    </div>
{% endblock %}
