{% extends 'staff/base.html' %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Pautas de mantención de chasis</strong>
    </p>
    
    <h2>Pautas de mantención de chasis</h2>
    
    <hr />
    
    <p><a href="{% url interface.views.agregar_pauta_mantencion_chasis %}">Agregar nueva pauta</a></p>
    
    {% for pauta in pautas %}
        <li><a href="{% url interface.views.pauta_mantencion_chasis_editar pauta.id %}">{{ pauta }}</a></li>
    {% endfor %}
    
{% endblock %}
