{% extends 'staff/base.html' %}

{% block staff_content %}
    <p class="breadcrumbs">
        <strong>Pautas de mantención de chasis</strong>
        &raquo; {{ pauta }}
        &raquo; Eliminar
    </p>
    
    <h2>Eliminar pauta de mantención</h2>
    
    <p><strong>Pauta:</strong> <a href="{% url interface.views.pauta_mantencion_chasis_editar pauta.id %}">{{ pauta }}</a></p>
    
    {% if modelos_chasis %}
        <p>
            La pauta no puede ser eliminada pues está siendo usada por los siguientes modelos de chasis:
        </p>    
            
        <ul>
            {% for modelo_chasis in modelos_chasis %}
                <li><a href="/admin/interface/modelochasismaterialmayor/{{ modelo_chasis.id }}/">{{ modelo_chasis }}</a></li>
            {% endfor %}
        </ul>
        
        <br />
        <p>
            Por favor cambie la pauta de mantención asociada a estos modelos e intente eliminar nuevamente esta pauta.
        </p>
    {% else %}
        <p>
            Antes de eliminar esta pauta, considere que el proceso es irreversible.
        </p>
        <p> 
            Los procesos de mantención generados a partir de esta pauta se guardan permanentemente en la hoja de vida de cada vehículo y no serán eliminados.
        </p>
        
        <br />
        
        <form method="post" action=".">
            {% csrf_token %}
            <input type="submit" value="Confirmo que deseo eliminar esta pauta de mantención" class="btn primary" />
        </form>
    {% endif %}

{% endblock %}
