<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>Sistema de Gestión de Material Mayor de Bomberos de Chile</title>
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/topnavigation.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/redmond/jquery-ui-1.8.16.custom.css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/i18n/jquery-ui-i18n.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/notifications.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/formulario_fechas.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/topnavigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    {% block header_block %}
    {% endblock %}
</head>

<body>
  <div class="container">
  	<div class="span-21 login-information">
  	    {% if user.is_authenticated %}
  	        <strong>{{ user.get_full_name }}</strong> (<a href="{% url logout %}">Cerrar sesión</a>)
        {% else %}
            &nbsp;
  	    {% endif %}
    </div>
    
    <div class="span-21 header-logo">
  		<img src="{{ STATIC_URL }}img/header.jpg" width="825" height="100" />
  	</div>
  	
  	<div class="span-21 top-navigation">
  	    {% block topnavigation %}
  	    {% endblock %}
  	</div>
  	
  	<div class="span-21 main">
  	    {% block main_content %}
  	    {% endblock %}
  	</div>
	
	<hr />
  	<div class="span-21 footer">
  		(c) 2011 Junta Nacional de Cuerpos de Bomberos de Chile <br />
  		Esquema de templates provisto por <a href="http://www.blueprintcss.org/">Blueprint</a>
  	</div>
  </div>
</body>

</html> 
