/*************************************
 * General rules for the application *
 *************************************/

/* Error lists should be displayed without margin or decorations and with a red color */
ul.errorlist {
	list-style-type: none;
	margin: inherit;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 8px;
	color: #DE0000;
}

input {
	border: 1px solid gray;
	padding: 2px 2px;
}

select {
	padding: 2px 2px;
}

/************************************
 * General rules for the login form *
 ************************************/

/* Make the text inputs for username and password visible and with some padding */
#login-form input {
	padding: 3px 2px;
}

/* Center the login form vertically */
#login-form-container {
	padding-top: 55px;
	position: relative;
}

/* Set a fixed width for the table so that the possible error message "username / pass don't match"
   does not deform the form */
#login-form table {
	width: 700px;
}

/* Set a fixed width for the titles "username" and "password" to keed a nice spacing with the form inputs  */
#login-form table th {
	width: 150px;
}

.success {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 325px;
	display: none;
}