.login-information {
    text-align: right;
    width: 825px;
}

.container {
    width: 830px;
}

.main {
    margin-bottom: 20px;
}

.footer {
    color: #777777;
}

.header-logo {
    height: 100px;
}

.errorlist li {
    color: #bc0000;
    font-size: 10px;
    font-weight: bold;
    list-style-type: none;
}

.errorlist {
    margin-bottom: 3px;
}

.success, .error, .notice {
    display: none;
}

.sidebar-menu {
    list-style-type: none;
}

.top-navigation {
    margin-bottom: 50px;
}

select {
    width: 250px;
}

.table-material-mayor-sin-asignar-title {
    padding-top: 15px;
}

.mandatory-field-notice {
    font-style: italic;
}

input.disabled-input {
    color: gray;
    background-color: #efefef;
}

.error_message {
    color:red;
    font-weight: bold;
    font-size: 10px;
}

.pauta_mantencion_form textarea {
    height: 50px;
    margin-right: 15px;
}

#form-table, #form-table tr, #form-table td, #form-table table, #form-table th {
    border: 0;
    padding: 6px;
}

#form-table label, #form-table select {
    width: 250px;
}

#login-form, #login-form tr, #login-form td, #login-form th, #login-form table {
    border: 0;
    padding: 6px;
}

.help_text {
    color: gray;
    font-size: 10px;
    text-align: right;
    width: 250px;
}

form.no_margin {
    margin: 0;
}

td.fixed_width {
    width: 260px;
}

textarea.observaciones_mantencion {
    width: 500px;
}

span.helptext {
    font-size: 10px;
    color: gray;
}