.login-information {
    text-align: right;
    width: 825px;
}

.container {
    width: 830px;
}

.main {
    margin-bottom: 20px;
}

.footer {
    color: #777777;
}

.header-logo {
    height: 100px;
}

.errorlist {
    color: #bc0000;
    font-size: 10px;
    font-weight: bold;
    list-style-type: none;
}

.success, .error, .notice {
    display: none;
}

.sidebar-menu {
    list-style-type: none;
}

.top-navigation {
    margin-bottom: 50px;
}

select {
    width: 250px;
}

.table-material-mayor-sin-asignar-title {
    padding-top: 15px;
}

.mandatory-field-notice {
    font-style: italic;
}

input.disabled-input {
    color: gray;
    background-color: #efefef;
}
